body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

section {
    background-color: #f7f7f7;
    padding: 2em;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-weight: bold;
    margin-top: 0;
    display: flex;
    justify-content: center;
}

.blog-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blog-post {
    text-align: center;
}

.contact-links {
    margin: 10px 50px;
}

.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.portfolio-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-x: auto;
}

.portfolio-item {
  width: calc(25% - 20px);
  margin: 10px;
}

.portfolio-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin: 0 auto 10px auto;
}

.portfolio-item p {
  text-align: center;
}

.view-more {
  width: calc(25% - 20px);
  margin: 10px;
  background-color: #7f7b7b;
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.view-more a {
  color: #fff;
  text-decoration: none;
}

.view-more:hover {
  background-color: #444;
}